/* HEADER */

.header {
  &__horizontal-rule {
    margin: 0;
    border-top: 1px solid $disabled-1;
    border-bottom: none;
    border-right: none;
    border-left: none;
  }

  &__wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 0 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }

  &__logo {
    display: flex;
    order: 5;

    &:focus-visible,
    &:hover {
      outline-offset: 8px;
    }
  }

  &__site-navigation {
    display: contents;
  }
}

.site-navigation {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: contents;
  }

  &__item {
    &:nth-child(n + 5) {
      order: 6;
    }

    &:nth-child(4) {
      margin-right: auto;
    }

    &:nth-child(5) {
      margin-left: auto;
    }

    a {
      display: flex;
      align-items: center;
      max-width: 150px;
      min-height: 87px;
      padding: 8px;
      font-size: 16px;
      line-height: 1.25;
      font-weight: inherit;
      letter-spacing: 0.01em;
      color: inherit;
      text-transform: capitalize;
      word-break: break-all;

      &:focus-visible,
      &:hover {
        outline-offset: -2px;
      }
    }
  }
}

.skip-to-content-link {
  position: absolute;
  top: -150px;
  left: 0;
  display: inline-block;
  overflow: hidden;
  align-items: center;
  max-width: 150px;
  min-height: 20px;
  padding: 4px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: inherit;
  letter-spacing: 0.01em;
  color: inherit;
  text-transform: lowercase;
  word-break: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.1s;

  &:focus-visible {
    top: 0;
    outline-offset: -2px;
  }
}

// BREADCRUMBS

.breadcrumbs-navigation {
  width: 100%;
  padding: 16px 0;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 24px;

    &--current {
      a {
        color: $disabled-2;
        outline: none;
      }
    }

    &:not(:last-child)::after {
      content: '/';
      position: absolute;
      right: -10px;
      font-size: 14px;
      line-height: 1.214;
      font-weight: 600;
      color: $disabled-2;
    }

    a {
      max-width: 300px;
      padding: 4px;
      font-size: 12px;
      line-height: 1.25;
      font-weight: inherit;
      color: inherit;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

@media (max-width: 1076px) {
  .header {
    padding-top: 16px;

    &__wrapper {
      flex-direction: column;
      padding: 0 16px;
      gap: 10px;
    }

    &__logo {
      order: 0;
    }
  }

  .site-navigation {
    &__item {
      order: 1;
      width: 100%;

      &:nth-child(4) {
        margin-right: 0;
      }

      &:nth-child(5) {
        margin-left: 0;
      }

      a {
        max-width: 100%;
        justify-content: center;
        min-height: auto;
        padding: 18px;
      }
    }
  }
}
