// VARIABLES

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$primary: rgb(23, 28, 143);

$tertiary-1: rgb(94, 98, 107);
$tertiary-3: rgb(26, 31, 41);

$disabled-1: rgb(204, 204, 204);
$disabled-2: rgb(146, 148, 153);

$purple: rgb(186, 155, 229);
$pink: rgb(233, 160, 167);
$beige: rgb(248, 202, 177);
$brown: rgb(200, 130, 82);

$red: rgb(255, 0, 0);

$color-ae: rgb(174, 174, 176);
$color-bd: rgb(189, 189, 189);
$color-f2: rgb(242, 242, 242);
