<section
  class='you-may-also-like main__you-may-also-like'
  aria-labelledby='heading-you-may-also-like'
>
  <h2
    class='you-may-also-like__heading'
    id='heading-you-may-also-like'
  >
    {{ section.settings.heading }}
  </h2>

  {%- assign collection = section.settings.collection -%}
  {%- if collection.all_products_count > 0 -%}
    <ul
      class='product-carousel you-may-also-like__product-carousel'
      role='list'
    >
      {%- for product in collection.products limit: section.settings.number_of_products -%}
        {%- render 'alternate-product-card', product: product -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Recommendations",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "number_of_products",
      "min": 3,
      "max": 6,
      "step": 1,
      "label": "Number of products",
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Alternate recommendations",
      "settings": {
        "heading": "You may also like",
        "collection": "everything-everywhere-all-at-once",
        "number_of_products": 4
      }
    }
  ]
}
{% endschema %}
