<section
  class="you-may-also-like main__you-may-also-like"
  aria-labelledby="heading-you-may-also-like"
>
  <h2
    class="you-may-also-like__heading"
    id="heading-you-may-also-like"
  >
    {{ section.settings.recommendations_heading }}
  </h2>

  {%- if section.settings.recommendations_collection.all_products_count > 0 -%}
    <ul
      class="product-carousel you-may-also-like__product-carousel"
      role="list"
    >
      {%- for product in section.settings.recommendations_collection.products limit: section.settings.recommendations_number_of_products -%}
        {%- render 'alternate-product-card', product: product -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Recommendations",
  "settings": [
    {
      "type": "text",
      "id": "recommendations_heading",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type": "collection",
      "id": "recommendations_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "recommendations_number_of_products",
      "min": 3,
      "max": 6,
      "step": 1,
      "label": "Number of products",
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Alternate recommendations",
      "settings": {
        "recommendations_heading": "You may also like",
        "recommendations_collection": "hoodies",
        "recommendations_number_of_products": 6
      }
    }
  ]
}
{% endschema %}

{% style sheet %}{% endstyle %}

{% javascript %}

{% endjavascript %}
