      <section
        class="you-may-also-like main__you-may-also-like"
        aria-labelledby="heading-you-may-also-like"
      >
        <h2
          class="heading heading--xl you-may-also-like__heading"
          id="heading-you-may-also-like"
        >
          you may also like
        </h2>
        <ul
          class="product-carousel you-may-also-like__product-carousel"
          role="list"
        >
          <li class="product-carousel__item">
            <article class="product-card product-carousel__product-card">
              <h3 class="heading heading--l product-card__heading">
                <a href="">product name</a>
              </h3>
              <img
                class="product-card__image"
                src="https://thatverygeorge.github.io/spurit-a11y/img/product-1.jpg"
                width="248"
                height="368"
                alt=""
                role="presentation"
              />
              <ul
                class="available-colors-list product-card__available-colors-list"
                role="list"
                aria-label="available colors"
              >
                <li
                  class="available-colors-list__item available-colors-list__item--brown"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    brown
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--beige"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    beige
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--pink"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    pink
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--purple"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    purple
                  </span>
                </li>
              </ul>
              <span class="product-card__price">
                <span class="visually-hidden">product name price:</span>
                chf 40
              </span>
            </article>
          </li>
          <li class="product-carousel__item">
            <article class="product-card product-carousel__product-card">
              <h3 class="heading heading--l product-card__heading">
                <a href="">product name</a>
              </h3>
              <img
                class="product-card__image"
                src="https://thatverygeorge.github.io/spurit-a11y/img/product-2.jpg"
                width="248"
                height="368"
                alt=""
                role="presentation"
              />
              <ul
                class="available-colors-list product-card__available-colors-list"
                role="list"
                aria-label="available colors"
              >
                <li
                  class="available-colors-list__item available-colors-list__item--brown"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    brown
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--beige"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    beige
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--pink"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    pink
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--purple"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    purple
                  </span>
                </li>
              </ul>
              <span class="product-card__price">
                <span class="visually-hidden">product name price:</span>
                chf 40
              </span>
            </article>
          </li>
          <li class="product-carousel__item">
            <article class="product-card product-carousel__product-card">
              <h3 class="heading heading--l product-card__heading">
                <a href="">product name</a>
              </h3>
              <img
                class="product-card__image"
                src="https://thatverygeorge.github.io/spurit-a11y/img/product-3.jpg"
                width="248"
                height="368"
                alt=""
                role="presentation"
              />
              <ul
                class="available-colors-list product-card__available-colors-list"
                role="list"
                aria-label="available colors"
              >
                <li
                  class="available-colors-list__item available-colors-list__item--brown"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    brown
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--beige"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    beige
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--pink"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    pink
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--purple"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    purple
                  </span>
                </li>
              </ul>
              <span class="product-card__price">
                <span class="visually-hidden">product name price:</span>
                chf 40
              </span>
              <ul
                class="tags-list product-card__tags-list"
                role="list"
                aria-label="tags"
              >
                <li class="tags-list__item">Sold out</li>
              </ul>
            </article>
          </li>
          <li class="product-carousel__item">
            <article class="product-card product-carousel__product-card">
              <h3 class="heading heading--l product-card__heading">
                <a href="">product name</a>
              </h3>
              <img
                class="product-card__image"
                src="https://thatverygeorge.github.io/spurit-a11y/img/product-4.jpg"
                width="248"
                height="368"
                alt=""
                role="presentation"
              />
              <ul
                class="available-colors-list product-card__available-colors-list"
                role="list"
                aria-label="available colors"
              >
                <li
                  class="available-colors-list__item available-colors-list__item--brown"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    brown
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--beige"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    beige
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--pink"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    pink
                  </span>
                </li>
                <li
                  class="available-colors-list__item available-colors-list__item--purple"
                >
                  <span class="visually-hidden">
                    <span class="visually-hidden">product name color:</span>
                    purple
                  </span>
                </li>
              </ul>
              <span class="product-card__price">
                <span class="visually-hidden">product name price:</span>
                chf 40
              </span>
            </article>
          </li>
        </ul>
      </section>

{% schema %}
  {
    "name": "Recommendations",
    "settings": [
      {
        "type": "text",
        "id": "recommendations_heading",
        "label": "Heading",
        "default": "You may also like"
      },
      {
        "type": "collection",
        "id": "recommendations_collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "recommendations_number_of_products",
        "min": 3,
        "max": 6,
        "step": 1,
        "label": "Number of products",
        "default": 4
      }
	],
    "presets": [
     {
       "name": "Alternate recommendations",
       "settings": {
			"recommendations_heading": "You may also like",
			"recommendations_collection": "hoodies",
			"recommendations_number_of_products": 6
		}
     }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
