<footer class='footer'>
  <div class='footer__wrapper'>
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'about' -%}
            {%-
              render 'alternate-footer-about',
              heading: block.settings.heading,
              text: block.settings.text,
              facebook_link: block.settings.facebook_link,
              instagram_link: block.settings.instagram_link,
              copyright: block.settings.copyright
            -%}
          {%- when 'menu' -%}
            {%-
              render 'alternate-footer-menu',
              heading: block.settings.heading,
              link_list: block.settings.link_list
            -%}
        {%- endcase -%}
      {%- endfor -%}
    {%- endif -%}
  </div>
</footer>

{% schema %}
{
  "name": "Alternate footer",
  "max_blocks": 4,
  "settings": [],
  "blocks": [
    {
      "name": "About",
      "type": "about",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "About"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "facebook_link",
          "label": "Facebook link",
          "default": "Facebook"
        },
        {
          "type": "text",
          "id": "instagram_link",
          "label": "Instagram link",
          "default": "Instagram"
        },
        {
          "type": "text",
          "id": "copyright",
          "label": "Copyright",
          "default": "© Susparsa 2021"
        }
      ]
    },
    {
      "name": "Menu",
      "type": "menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Useful links"
        },
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Menu"
        }
      ]
    }
  ]
}
{% endschema %}
