<footer class="footer">
  <div class="footer__wrapper">
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'footer_about' -%}
            {%- render 'alternate-footer-about', block: block -%}
          {%- when 'footer_menu' -%}
            {%- render 'alternate-footer-menu', block: block -%}
        {%- endcase -%}
      {%- endfor -%}
    {%- endif -%}
  </div>
</footer>

{% schema %}
{
  "name": "Alternate footer",
  "max_blocks": 4,
  "settings": [],
  "blocks": [
    {
      "name": "About",
      "type": "footer_about",
      "settings": [
        {
          "type": "text",
          "id": "footer_about_heading",
          "label": "Heading",
          "default": "About"
        },
        {
          "type": "richtext",
          "id": "footer_about_text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "footer_about_facebook_link",
          "label": "Facebook link",
          "default": "Facebook"
        },
        {
          "type": "text",
          "id": "footer_about_instagram_link",
          "label": "Instagram link",
          "default": "Instagram"
        },
        {
          "type": "text",
          "id": "footer_about_copyright",
          "label": "Copyright",
          "default": "© Susparsa 2021"
        }
      ]
    },
    {
      "name": "Menu",
      "type": "footer_menu",
      "settings": [
        {
          "type": "text",
          "id": "footer_menu_heading",
          "label": "Heading",
          "default": "Useful links"
        },
        {
          "type": "link_list",
          "id": "footer_menu_link_list",
          "label": "Menu"
        }
      ]
    }
  ]
}
{% endschema %}

{% style %}{% endstyle %}

{% javascript %}

{% endjavascript %}
