.social-links {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  &__item {
    a {
      display: flex;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center center;

      &:focus-visible,
      &:hover {
        outline-offset: 4px;
      }
    }

    &--facebook {
      a {
        background-image: url('/assets/icon-facebook.svg');
      }
    }

    &--instagram {
      a {
        background-image: url('/assets/icon-instagram.svg');
      }
    }
  }
}
